/* Variables de color */
:root {
    --primary-color: #14ff72;
    --button-background: #14ff72;
    --button-text-color: #fff;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    transition: color 0.2s ease-in-out;
    /* Transición suave para el cambio de color */
}

nav ul a:hover {
    color: var(--primary-color);
    /* Cambia al color verde cuando se pasa el cursor */
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c-ch-news-intro_content {
    text-align: left;
}

.c-ch-news-intro__title {
    font-size: 65px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.date {
    color: #888;
    font-size: 14px;
    margin-bottom: 20px;
}

.c-ch-news-intro__image-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.c-figure__image img {
    max-width: 100%;
    height: auto;
}

.qtheme-main-block {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

p {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}

/* Estilos para los botones */
button:hover {
    letter-spacing: 3px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}