@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background: #fbf8f8;
}

.container,
.container_2,
.container_3,.container_4,.container_5,.container_6 {
   max-width: 1200px;
   margin: 0 auto;
   padding: 3rem 2rem;
   flex-wrap: wrap;
}

.container .title,
.container_2 .title,
.container_3 .title,.container_4 .title,
.container_5 .title, .container_6 .title {
   font-size: 3.5rem;
   color: #090909;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .title {
   margin-top: 50px;
}

.container_2 .title {
   margin-top: 80px;
}

.container_3 .title {
   margin-top: -40px;
}
.container4 .title {
   margin-top: 70px;
}

.container_5 .title {
   margin-top: -40px;
}

.container_6 .title { 
   margin-top: -20px; 
}


.container .products-container,
.container_2 .products-container,
.container_3 .products-container,
.container_4 .products-container,
.container_5 .products-container,
.container_6 .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.container .products-container .product,
.container_2 .products-container .product,
.container_3 .products-container .product,
.container_4 .products-container .product,
.container_5 .products-container .product,
.container_6 .products-container .product {
   text-align: center;
   padding: 3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover,
.container_2 .products-container .product:hover,
.container_3 .products-container .product:hover,
.container_4 .products-container .product:hover,
.container_5 .products-container .product:hover,
.container_6 .products-container .product:hover {
   outline: .2rem solid #222;
   outline-offset: 0;
}
.container .products-container .product img,
.container_2 .products-container .product img,
.container_3 .products-container .product img, 
.container_4 .products-container .product img,
.container_5 .products-container .product img,
.container_6 .products-container .product img{
   height: 25rem;
}

.container .products-container .product:hover img,
.container_2 .products-container .product:hover img,
.container_3 .products-container .product:hover img,
.container_4 .products-container .product:hover img,
.container_5 .products-container .product:hover img,
.container_6 .products-container .product:hover img {
   transform: scale(.9);
}

.container .products-container .product h3,
.container_2 .products-container .product h3,
.container_3 .products-container .product h3,
.container_4 .products-container .product h3,
.container_5 .products-container .product h3,
.container_6 .products-container .product h3 {
   padding: .5rem 0;
   font-size: 2rem;
   color: #444;
}

.container .products-container .product:hover h3,
.container_2 .products-container .product:hover h3,
.container_3 .products-container .product:hover h3,
.container_4 .products-container .product:hover h3,
.container_5 .products-container .product:hover h3,
.container_6 .products-container .product:hover h3 {
   color: rgb(58, 196, 8);
}

.container .products-container .product .price,
.container_2 .products-container .product .price,
.container_3 .products-container .product .price,
.container_4 .products-container .product .price,
.container_5 .products-container .product .price,
.container_6 .products-container .product .price {
   font-size: 2rem;
   color: #444;
}

.products-preview,
.products-preview_2,
.products-preview_3,
.products-preview_4,
.products-preview_5,
.products-preview_6 {
   position: fixed;
   display: flex;
   top: 0;
   left: 0;
   min-height: 100vh;
   width: 100%;
   background: rgba(37, 36, 35, 0.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview,
.products-preview_2 .preview,
.products-preview_3 .preview,
.products-preview_4 .preview,
.products-preview_5 .preview,
.products-preview_6 .preview {
   display: none;
   padding: 1rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin: 15vh auto; /* Ajusta el margen superior aquí */
   width: 40rem;
}

.products-preview .preview.active,
.products-preview_2 .preview.active,
.products-preview_3 .preview.active,
.products-preview_4 .preview.active,
.products-preview_5 .preview.active,
.products-preview_6 .preview.active {
   display: inline-block;
}

.products-preview .preview img,
.products-preview_2 .preview img,
.products-preview_3 .preview img,
.products-preview_4 .preview img,
.products-preview_5 .preview img,
.products-preview_6 .preview img {
   max-height: 30rem; 
}

.products-preview .preview .fa-times,
.products-preview_2 .preview .fa-times,
.products-preview_3 .preview .fa-times,
.products-preview_4 .preview .fa-times,
.products-preview_5 .preview .fa-times,
.products-preview_6 .preview .fa-times {
   position: absolute;
   top: 1rem;
   right: 1.5rem;
   cursor: pointer;
   color: #444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover,
.products-preview_2 .preview .fa-times:hover,
.products-preview_3 .preview .fa-times:hover,
.products-preview_4 .preview .fa-times:hover,
.products-preview_5 .preview .fa-times:hover,
.products-preview_6 .preview .fa-times:hover {
   transform: rotate(90deg);
}

.products-preview .preview h3,
.products-preview_2 .preview h3,
.products-preview_3 .preview h3,
.products-preview_4 .preview h3,
.products-preview_5 .preview h3,
.products-preview_6 .preview h3 {
   color: #444;
   padding: .5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars,
.products-preview_2 .preview .stars,
.products-preview_3 .preview .stars,
.products-preview_4 .preview .stars,
.products-preview_5 .preview .stars,
.products-preview_6 .preview .stars {
   padding: 1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i,
.products-preview_2 .preview .stars i,
.products-preview_3 .preview .stars i,
.products-preview_4 .preview .stars i,
.products-preview_5 .preview .stars i,
.products-preview_6 .preview .stars i {
   color:rgb(58, 196, 8); 
}

.products-preview .preview .stars span,
.products-preview_2 .preview .stars span,
.products-preview_3 .preview .stars span,
.products-preview_4 .preview .stars span,
.products-preview_5 .preview .stars span,
.products-preview_6 .preview .stars span {
   color: #999;
}

.products-preview .preview p,
.products-preview_2 .preview p,
.products-preview_3 .preview p,
.products-preview_4 .preview p,
.products-preview_5 .preview p,
.products-preview_6 .preview p {
   line-height: 1.5;
   padding: 1rem 0;
   font-size: 1.6rem;
   color: #777;
}

.products-preview .preview .price,
.products-preview_2 .preview .price,
.products-preview_3 .preview .price,
.products-preview_4 .preview .price,
.products-preview_5 .preview .price,
.products-preview_6 .preview .price {
   padding: 1rem 0;
   font-size: 2.5rem;
   color: rgb(58, 196, 8);
}

.products-preview .preview .buttons,
.products-preview_2 .preview .buttons,
.products-preview_3 .preview .buttons,
.products-preview_4 .preview .buttons,
.products-preview_5 .preview .buttons,
.products-preview_6 .preview .buttons {
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a,
.products-preview_2 .preview .buttons a,
.products-preview_3 .preview .buttons a,
.products-preview_4 .preview .buttons a,
.products-preview_5 .preview .buttons a,
.products-preview_6 .preview .buttons a {
   flex: 1 1 16rem;
   padding: 1rem;
   font-size: 1.8rem;
   color: #444;
   border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart,
.products-preview_2 .preview .buttons a.cart,
.products-preview_3 .preview .buttons a.cart,
.products-preview_4 .preview .buttons a.cart,
.products-preview_5 .preview .buttons a.cart,
.products-preview_6 .preview .buttons a.cart {
   background: #444;
   color: #fff;
}

.products-preview .preview .buttons a.cart:hover,
.products-preview_2 .preview .buttons a.cart:hover,
.products-preview_3 .preview .buttons a.cart:hover,
.products-preview_4 .preview .buttons a.cart:hover,
.products-preview_5 .preview .buttons a.cart:hover,
.products-preview_6 .preview .buttons a.cart:hover {
   background: #111111;
}

.products-preview .preview .buttons a.buy:hover,
.products-preview_2 .preview .buttons a.buy:hover,
.products-preview_3 .preview .buttons a.buy:hover,
.products-preview_4 .preview .buttons a.buy:hover,
.products-preview_5 .preview .buttons a.buy:hover,
.products-preview_6 .preview .buttons a.buy:hover {
   background: #444;
   color: #fff;
}

@media (max-width:991px){
   html{
      font-size: 55%;
   }
}

@media (max-width:768px){
   .products-preview .preview img,
   .products-preview_2 .preview img,
   .products-preview_3 .preview img,
   .products-preview_4 .preview img,
   .products-preview_5 .preview img,
   .products-preview_6 .preview img {
      height: 25rem;
   }
}


@media (max-width:450px){
   html{
      font-size: 50%;
   }
}

/* Parte de menu */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Jost', sans-serif;
   list-style: none;
   text-decoration: none;
}

/* Estilo por defecto del encabezado */
header {
   height: 80px; 
   position: fixed;
   width: calc(100% - 0px); 
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 20px;
}
.logo img {
   max-width: 70px;
   height: 30%;
   border-radius: 100%; 
   margin: 5px 170px;
}

.navmenu {
   display: flex;
}

.navmenu a {
   color: #2c2c2c;
   font-size: 20px;
   text-transform: capitalize;
   padding: 10px  20px;
   font-weight: 400;
   transition: all .42s ease;
   
}


section {
   padding: 5% 10%;
}

.main-home {
   width: 100%;
   height: 100vh;
   background-image: url(imagenes/naranja.jpg);
   background-position: center;
   background-size: cover;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   align-items: center;
}

.main-text h5 {
   color:  rgb(236, 171, 8);
   font-size: 35px;
   color:  rgb(12, 158, 29);
   font-size: 45px;
   text-transform: capitalize;
   font-weight: 500;
}

.main-text h1 {
   color: #080808;
   font-size: 65px;
   text-transform: capitalize;
   line-height: 1.1;
   font-weight: 600;
   margin: 6px 0 10px;
}

.main-text p {
   color:  #090909;
   font-size: 25px;
   font-style: italic;
   margin-bottom: 20px;
}

.main-btn {
   display: inline-block;
   color: #111;
   font-size: 30px;
   font-weight: 500;
   text-transform: capitalize;
   border: 2px solid #111;
   padding: 12px 25px;
   transform: all .42s ease;
}

.main-btn:hover {
   background-color: #000;
   color: #fff;
}

.down-arrow {
   vertical-align: middle;
}

.down-arrow {
   position: absolute;
   top: 85%;
   right: 11%;
}

.down i {
   font-size: 30px;
   color: #2c2c2c;
   border: 2px solid #2c2c2c;
   border-radius: 50px;
   padding: 12px 12px;
}

.down i:hover {
   background-color: rgb(66, 209, 66);
   color: #fff;
   transition: all .42s ease;
}

header.sticky {
   background: rgb(58, 196, 8);
   background: #2eb542; 
   padding: 5px 5%;
   box-shadow: 0px 0px 10px rgba(0 0 0 /10%);
}



/* Parte de contactos */

.footer {
   background-color:  #080808;
   padding: 80px 0;
   width: 100%; /* Asegura que el footer ocupe todo el ancho */
   flex-shrink: 0;
}

.container {
   width: 100%; /* Ocupa el 100% del ancho de la pantalla */
   text-align: center;
   margin: 0 auto; /* Centra el contenedor */
   margin-top: -110px;
   margin-bottom: -80px; 



}

.footer-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 30px;
}

.footer__navigation,
.footer__mobile-accordion,
.footer__link-list,
.social-icons {
   width: calc(25% - 40px);
   padding: 0 20px;
   margin: 0 20px;
   text-align: center;
}

.cmp-text h1 {
   font-size: 18px;
   color: #5dd71fe0;
   margin-bottom: 18px;
}

.cmp-text p {
   color: #ede0e0;
   margin-bottom: 20px;
   font-size: 18px;
}

.footer__mobile-accordion li {
   color: #ccc;
   font-size: 18px;
}

.footer__link-list .cmp-text ul li {
   color: #ffffff;
   font-size: 18px;
}

.footer__mobile-accordion h1, .cmp-text li {
   font-size: 18px;
}

.footer__mobile-accordion .cmp-text h1 {
   text-align: center;
}

.footer__mobile-accordion .cmp-text ul {
   text-align: center;
}

.footer__mobile-accordion .cmp-text ul li {
   width: 100%;
   white-space: nowrap;
   margin-right: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer__mobile-accordion .cmp-text ul li i {
   display: inline-block;
   margin-right: 10px;
   font-size: 18px;
}

.footer__navigation img, .footer__mobile-accordion img {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin: 0 auto 20px;
   display: block;
   cursor: pointer;
}

.footer__mobile-accordion h1,
.footer__link-list h1,
.social-icons h1 {
   font-size: 20px;
   margin-bottom: 15px;
}

.footer__mobile-accordion ul,
.footer__link-list ul,
.social-icons ul {
   list-style: none;
   padding-left: 0;
}

.footer__mobile-accordion ul li,
.footer__link-list ul li,
.social-icons ul li {
   margin-bottom: 10px;
}

.footer h1 {
   margin: 70px 10px 20px 0;
   display: inline-block;
   font-weight: bold;
   color: rgb(48, 200, 48);
}

.footer__button--market {
   margin-bottom: 30px;
   margin-left: 20px;
   vertical-align: middle;
   display: inline-block;
   margin: 7px 70px 20px;
}

.footer__button--market .cmp-button {
   background-color: #109684;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 17px 35px;
   text-decoration: none;
   transition: background-color 0.3s;
}

.cmp-button__text {
   font-size: 20px;
}

.footer__button--market .bx {
   font-size: 18px;
}

.footer__button--market .cmp-button:hover {
   background-color: #474449;
}

.social-icons ul {
   display: flex;
   justify-content: center;
}

.social-icons li {
   margin: 0 10px;
}

.social-icons span {
   font-size: 20px;
   color: #f7f4f3;
   transition: color 0.3s;
}

.social-icons span:hover {
   color: #ec0c0c;
}

.footer__bottom--privacy {
   font-size: 14px;
   color: #fdf7f7;
   margin-top: 20px;
   text-align: center;
}

.footer hr {
   border: none;
   height: 1px;
   background-color: #ffffff;
   margin: 20px 0;
}

/* Código para los botones de las categorías */

* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
   min-height: 100vh;
   background: white; /* color de fondo*/
}

.container-button {
   position: relative;
   max-width: 1350px;
   width: 100%;
   padding: 20px;
   margin: 40px auto;
   text-align: center;
   font-size: 18px;
   
}

.filter_buttons {
   display: flex;
   justify-content: center; 
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 20px;
}

button {
   padding: 10px 20px;
   font-size: 18px;
   background: rgb(66, 209, 66);
   border: none;
   border-radius: 6px;
   cursor:pointer;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button.active {
   background: #97eda1;
   color: #fff;
}


.container-button p {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: #f1efef;
   padding: 10px;
   border-radius: 5px;
   text-align: center;
}



/*........es del otro busqueda.........*/
body {
   background-color: #f5f8ff;
 }
 .wrapper {
   width: 95%;
   margin: 0 auto;
 }
 #search-container input {
   background-color: transparent;
   width: 40%;
   border: none;
   border-bottom: 2px solid #000; /* Black bottom border */
   padding: 1em 0.5em;
   border-radius: 0px 0 0 0px;
   outline: none;
   height: 30px;
 }
 
 #search-container input:focus {
   border-bottom-color: #35b453; /* Green bottom border on focus */
 }
 
 #search-container input:focus {
   border-bottom-color: #35b453;
   
 }
 #search-container button {
   padding: 1em 2em;
   margin-left: 1em;
   background-color:  #35b453;
   color: #ffffff;
   border-radius: 10px;
   margin-top: 0.5em;
 }
 .button-value {
   border: 2px solid  #35b453;
   padding: 1em 2.2em;
   border-radius: 3em;
   background-color: transparent;
   color:  #35b453;
   cursor: pointer;
 }
 .active {
   background-color:  #35b453;
   color: #ffffff;
 }
/* Asegura que el contenedor de la navegación esté correctamente alineado */
.navmenu {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 10px;
   background-color: #ffffff04;
}

/* Ajustes para el contenedor de búsqueda */
.container_bus {
   position: relative;
   margin-right: 20px; /* espacio entre búsqueda y los iconos */
}

input {
   outline: none;
   box-sizing: border-box;
   width: 0;
   height: 40px; /* altura y ancho iguales para el círculo inicial */
   padding: 10px 18px; /* espacio suficiente para el botón */
   color: #000;
   border-radius: 50%; /* radio del borde suficiente para un círculo */
   font-size: 16px;
   border: 1px solid #e77630;
   transition: all .7s ease;
}

::placeholder {
   color: grey;
}

.btn {
   position: absolute;
   right: 0;
   top: 0;
   width: 40px; /* ancho igual a la altura del input */
   height: 40px; /* altura igual a la altura del input */
   background: #e77630;
   line-height: 40px; /* centra el icono verticalmente */
   border-radius: 50%; /* borde completamente redondeado para círculo */
   text-align: center;
   cursor: pointer;
   transition: .5s;
}

.btn i {
   font-size: 16px;
   color: white;
   line-height: 40px; /* centra el icono verticalmente */
   transition: all .7s ease;
}

.container_bus:hover input {
   width: 250px; /* expande el ancho del campo de búsqueda */
   border-radius: 40px; /* radio del borde cuando se expande */
}

.container_bus:hover .btn {
   right: 0; /* ajusta la posición del botón durante la expansión */
}

.container_bus:hover i {
   transform: rotate(-360deg);
}

/* Ajustes para los iconos de usuario y carrito */
.nav-icon {
   display: flex;
   align-items: center;
   margin: 0 10px;
   cursor: pointer;


}

.nav-icon i {
   color: #2c2c2c;
   font-size: 25px;
   transition: all .42s ease;
}

.nav-icon i:hover {
   transform: scale(1.1);
   color: #EE1C47;
}

/* Ajustes para el icono del menú */
.menu-icon {
   font-size: 30px;
   z-index: 1001;
   cursor: pointer;
   top: 10px;
   position: static;
   right: 20px;
  
}

#menu_icon {
   color: #2c2c2c;
}

/* Menú lateral */
#btn-menu {
   display: none;
}

.container-menu {
   position: fixed;
   background: rgba(0,0,0,0.5);
   width: 100%;
   height: 100vh;
   top: 0;
   right: 0;
   transition: all 500ms ease;
   opacity: 0;
   visibility: hidden;
   font-size: 18px;
}

#btn-menu:checked ~ .container-menu {
   opacity: 1;
   visibility: visible;
}

.cont-menu {
   width: 100%;
   max-width: 250px;
   background: #1c1c1c;
   height: 100vh;
   position: absolute;
   top: 0;
   right: 0;
   transition: all 500ms ease;
   transform: translateX(100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
   transform: translateX(0%);
}

.cont-menu nav {
   transform: translateY(15%);
}

.cont-menu nav a {
   display: block;
   text-decoration: none;
   padding: 20px;
   color: #c7c7c7;
   border-left: 5px solid transparent;
   transition: all 400ms ease;
}

.cont-menu nav a:hover {
   border-left: 5px solid #c7c7c7;
   background: #1f1f1f;
}

.cont-menu label {
   position: absolute;
   left: 5px;
   top: 10px;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
}

/* Estilos del icono del carrito */
.carrito {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   width: 450px;
   background-color: #fff;
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   padding: 20px;
   border-radius: 8px;
   font-family: Arial, sans-serif;
}

.carrito h3 {
   background-color: #000;
    color: #fff;
    padding: 13px;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    margin: 0;
    font-size: 24px; 
}

.lista-carrito {
   max-height: 400px;
   overflow-y: auto;
   margin: 10px 0;
   padding: 0 10px;
}

.item-carrito {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
}

.item-carrito img {
   width: 70px;
   height: auto;
   border-radius: 4px;
}

.info-producto {
   flex: 1;
   margin-left: 10px;
}

.info-producto h4 {
   margin: 0 0 5px;
   font-size: 16px;
}

.info-producto p {
   margin: 0;
   font-size: 14px;
   color: #666;
}

.acciones-producto {
   display: flex;
   align-items: center;
}

.cantidad {
   display: flex;
   align-items: center;
   margin-right: 15px;
   margin-top: -10px; 

}

.cantidad button {

   background-color: #ddd;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 20px;
    padding: 14px;
    
   
}

.cantidad button:hover {
   background-color: #6d6c67;
}

.cantidad input {
   border: none;
   font-size: 18px;
   background-color: transparent;
   display: inline-block;
   width: 30px;
   padding: 5px;
   text-align: center;
}

.eliminar {
   font-size: 20px;
   color: #090909;
   cursor: pointer;
   margin-top: -10px; 
   margin-left: 10px;
}

.eliminar:hover {
   color: #cc0000;
}

.price-total {
   color: black;
   font-size: 18px;
   text-align: right;
}

.carrito button {
   background-color: #000;
   color: white;
   border: none;
   cursor: pointer;
   width: 100%;
   font-size: 20px;
}

.carrito button:hover {
   background-color: green;
}

.close-btn {
   position: absolute;
    top: 20px;
    right: 390px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    width: 40px;
    height: 53.5px;
    border-radius: 8px 8px 8px 8px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center
}
.close-btn:hover {
   background-color: rgb(102, 116, 102);
}
.carrito h2 {
   text-align: center;
   margin: 10px 0;
   color: black;
   font-size: 18px;
}
