@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #1C1C1C;
    color:rgb(35, 168, 35);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/*CSS de los Container*/
#container {
    transition: 1s all ease-in-out;
}

#container.menuopen {
    filter: blur(8px);
    transform: scale(1.2);
}

/*CSS de las secciones*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-size: cover;
    padding: 50px;
    opacity: 0.8;
    flex-direction: column;
}

/*CSS de los H1*/
section h1 {
    font-size: 50px;
    width: 1100px;
}
/*CSS de los parrafos*/
section #parrafo{
    color: #fff;
    font-size: 30px;
    text-align: left;
}

/*CSS de las imagenes*/
section img{
    height: 250px;
    width: auto;
    float: right;
} 

header {
    z-index: 9999;
    position: relative;
}

header #logo {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    width: 200px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)0.6s;
}

header nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    width: 730px;
    z-index: 100;
    top: 130px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 1s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.2s;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 16px;
    font-size: 18;
    letter-spacing: 1.8px;
    transition: 0.3s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.6s, 0.3s color ease;
}

header nav a:hover {
    color:green;
}

header nav button {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, blue255, 0.3);
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    cursor: pointer;
    transform: scale(0);
    transition: 0.3s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.2s;
}

header nav button span {
    width: 50%;
    background-color: #fff;
    height: 3px;
    display: block;
    margin: 4px auto;
    transform: scale(0);
    transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18, 1) 0s, 0.3s margin ease-in 0s;
}

header nav button:hover span {
    margin: 9px auto;
}

header.sticky #logo {
    opacity: 0;
}

header.sticky nav {
    top: 20px;
    padding: 0;
    width: 80px;
    height: 80px;
}

header.sticky nav button {
    transform: scale(1);
    transition-delay: 0.3s;
}

header.sticky nav button span {
    transform: scaleX(1);
    transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18, 1) 0.8s, 0.3s margin ease-in 0s;
}

header.sticky nav a {
    opacity: 0;
    transform: scale(0.3);
    transition-delay: 0.1s;
}

/* button - seccion de CSS de los botones*/

.buttons{
    display: flex;
    flex-direction: column;
    width: calc(25% - 40px);
    padding: 0 20px;
    margin: 0 20px;
    text-align: center;
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5px;
    right: 50px;
    margin: 32px;
}

.btn-mas{
    background:green;
    color: #ffffff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-mas::after, .btn-nosotros::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background:green;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-mas:hover{
    transform: translate(-12px, -12px);
}

.btn-mas:hover::after{
    transform: translate(6px, 6px);
}

.btn-mas:hover::before{
    transform: translate(12px, 12px);
}

/* fotter - parte inferior de la web*/

.footer {
    background-color: #1C1C1C;
    padding: 80px 0;
}

.container {
    text-align: center;
    margin-top: -100px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__navigation,
.footer__mobile-accordion,
.footer__link-list{
    width: calc(25% - 40px);
    padding: 0 20px;
    margin: 0 20px;
    text-align: center;
}

.cmp-text h1 {
    font-size: 18px;
    color: #f57c03e0;
    margin-bottom: 18px;
}

.cmp-text p {
    color: #ede0e0;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer__mobile-accordion li {
    color: #ccc;
    font-size: 18x;
}

.footer__link-list .cmp-text ul li {
    color: #ffffff;
    font-size: 18px;
}

.footer__mobile-accordion h1,
.cmp-text li {
    font-size: 18px;
}

.footer__mobile-accordion .cmp-text h1 {
    text-align: center;
}

.footer__mobile-accordion .cmp-text ul {
    text-align: center;
}

.footer__mobile-accordion .cmp-text ul li {
    width: 100%;
    white-space: nowrap;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__mobile-accordion .cmp-text ul li i {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.footer__navigation img,
.footer__mobile-accordion img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
    cursor: pointer;
}

.footer__mobile-accordion h1,
.footer__link-list h1{
    font-size: 20px;
    margin-bottom: 15px;
}

.footer__mobile-accordion ul,
.footer__link-list ul{
    list-style: none;
    padding-left: 0;
}

.footer__mobile-accordion ul li,
.footer__link-list ul li{
    margin-bottom: 10px;
}

.footer h1 {
    margin: 70px 10px 20px 0;
    display: inline-block;
    font-weight: bold;
    color: green;
}

.footer__bottom--privacy {
    font-size: 14px;
    color: #fdf7f7;
    margin-top: 20px;
    margin-bottom: -80px;
    text-align: center;
    margin-top: 10px;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
    margin: 20px 0;
}

@media screen and (max-width: 520px) {

    header nav {
        height: 60px;
        width: 390px;
    }

    header nav button {
        width: 50px;
        height: 50px;
    }

    header nav a {
        font-size: 16px;
    }

    section h1 {
        font-size: 80px;
    }

    header.sticky nav {
        width: 70px;
        height: 70px;
    }
}